*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
     background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;

}

.container {
    width: 90vw;
    margin: 4em 0;

}

.col {
    padding: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.orange {
    background: hsl(31, 77%, 52%);
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.cyan {
    background: hsl(184, 100%, 22%);
}

.Dcyan {
    background: hsl(179, 100%, 13%);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    background: hsl(0, 0%, 95%);
    border-radius: 2em;
}

.ora {
    color: hsl(31, 77%, 52%);
}

.cy {
    color: hsl(184, 100%, 22%);
}

.dcy {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background: none;
}

@media (min-width: 800px) {
    .container {
        width: 55vw;
       
    }

    .row {
        display: flex;
    }
     .orange {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .Dcyan {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .btn {
        padding: 0.5em 2em;
        margin: 2em 0;
    }
}
